<nav>
    <div class="nav-links">
        <a [class.active]="isReview" (click)="navReview()"> Review</a>
        <span class="arrow">
            →
        </span>
        <a [class.inactive]="isReview" [class.active]="!isReview"> Confirmation</a>
    </div>
    <div class="nav-brand">
        <a href="">(Not) Airbnb</a>
    </div>
</nav>