nav {
    background-color: #FF5A5F;
    padding: 1.5em 6em;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .nav-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    margin: 0 3em;
    cursor: pointer;
}

.arrow {
    font-size: 24px;
    font-weight: 600;
}

nav .nav-links a.inactive {
    color: gray;
    cursor: not-allowed;
}

nav .nav-brand a {
    color: white;
    font-size: 22px;
}

.active {
    text-decoration: underline !important;
}