<div class="card-wrapper">
    <div class="listing-info-header">
        <div class="listing-info">
            <h2>
                {{ listing?.name }}
            </h2>
            <p>
                {{ listing?.description }}
            </p>
        </div>
        <div class="listing-avatar">
            <img [src]="listing?.image_url">
        </div>
    </div>
    <form [formGroup]="reservationForm">
        <div *ngIf="isReview" class="date-wrapper">
            <input formControlName="checkin" type="date">
            <span class="arrow">
                →
            </span>
            <input formControlName="checkout" type="date">
        </div>
        <div *ngIf="!isReview" class="date-wrapper">
            <p>
                {{ reservation.checkin | date:'mediumDate' }}
                <span class="arrow">
                    →
                </span>
                {{ reservation.checkout | date:'mediumDate' }}
            </p>
        </div>
    
        <div class="row">
            <p>How many guests?</p>
            <div *ngIf="isReview" class="input-btn">
                <a (click)="decreaseAdults()">-</a>
                <input disabled type="number" formControlName="adults">
                <a (click)="increaseAdults()" >+</a>
            </div>
            <p *ngIf="!isReview"> {{ reservation.adults }} </p>
        </div>
        <div class="row">
            <p>How many children?</p>
            <div *ngIf="isReview" class="input-btn">
                <a (click)="decreaseChildren()">-</a>
                <input disabled type="number" formControlName="children">
                <a (click)="increaseChildren()" >+</a>
            </div>
            <p *ngIf="!isReview"> {{ reservation.children }} </p>
        </div>
        <div class="row">
            <p>Do you have pets?</p>
            <div *ngIf="isReview" class="switch-row">
                <span>No</span>
                <label class="switch">
                    <input formControlName="pets" type="checkbox">
                    <span class="slider"></span>
                  </label>
                <span>Yes</span>
            </div>
            <p *ngIf="!isReview"> {{ reservation.pets | boolean }} </p>
        </div>
    </form>
        <hr>
        <p><strong>Your reservation cost:</strong></p>
        <p>Stay duration: {{ reservationCost?.nights_count }} </p>
        <p>Nights Cost: $ {{ reservationCost?.nights_cost}} </p>
        <p>Discount: $ {{ reservationCost?.discount }} </p>
        <p>Cleaning Fees: $ {{ reservationCost?.cleaning_fee }}</p>
        <p><strong>Your Total:</strong> $ {{ reservationCost?.total }} </p>



</div>