.date-wrapper {
    display: flex;
}

.listing-info-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1em;
}

.listing-avatar img {
  width: 120px;
  height: auto;
  margin: 0 0.5em;
}

.row {
    margin: 0.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.switch-row {
    display: flex;
    align-items: center;
}


.input-btn {
    display: flex;
}
.input-btn input {
    width: 32px;
    text-align: center;
    border: none;
    border-right: 1px solid lightgray;
    border-left: 1px solid lightgray;
    background-color: #d8d8d8;
}
.input-btn a {
    min-width: 16px;
    display: flex;
    justify-content: center;
    padding: 0.125em;
    font-size: 22px;
    border: 1px solid gray;
    cursor: pointer;
}

.arrow {
    font-size: 22px;
    color: #FF5A5F;
    margin: 0 0.5em;
}

.switch {
    position: relative;
    display: inline-block;
    width: 44px;
    height: 26px;
    margin: 0 0.12em;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  hr {
    width: 100%;
  }
  
  input:checked + .slider {
    background-color: #FC642D;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #FC642D;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
  }
