<div class="card-wrapper">
    <h4>Review trip details and adjust options if needed</h4>
    <div class="row">
        <p>
            <strong>Dates:</strong>
        </p>
        <p>
            {{ reservation?.checkin | date:'mediumDate' }} <span *ngIf="reservation.checkout">to</span> {{ reservation.checkout | date:'mediumDate' }}
        </p>
    </div>
    <div class="row">
        <p>
            <strong>Guests:</strong>
        </p>
        <p>
            {{ reservation?.adults }}
        </p>
    </div>
    <div class="row">
        <p>
            <strong>Children:</strong>
        </p>
        <p>
            {{ reservation?.children }}
        </p>
    </div>
    <div class="row">
        <p>
            <strong>Trip duration:</strong>
        </p>
        <p *ngIf="reservation.cost">
            {{ reservation.cost?.nights_count }} nights
        </p>
    </div>
    <div class="row">
        <p>
            <strong>Base Price:</strong>
        </p>
        <p>
            $ {{ listing?.base_price }}
        </p>
    </div>
    <hr>
    <div class="textarea-wrapper" *ngIf="isReview">
        <p>Say hello to your host:</p>
        <textarea cols="30" rows="5" [(ngModel)]="reservation.text"></textarea>
        <button 
        [disabled]="!reservation.cost"
        [class.inactive]="!reservation.cost"
        (click)="confirm()"
        class="btn btn-continue">Continue</button>
    </div>
    <button *ngIf="!isReview" class="btn btn-confirm fadeIn" (click)="confirmReservation()">Confirm your reservation</button>
</div>