.btn {
    margin: 1em 0;
    padding: 0.25em 0.5em;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: 600;
    font-size: 18px;
    width: 100%;
}
.btn-continue {
    background-color: #FC642D;
}
.btn-confirm {
    background-color: #00A699;
}

.textarea-wrapper {
    width: 100%;
}

.row {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.inactive {
    background-color: gray;
    cursor: not-allowed;
}

hr {
    width: 100%;
}